# defaults
**/.git
**/.svn
**/.hg
**/node_modules
dist
.idea
.vscode
**/bower_components
**/coverage
**/logs
**/tmp
**/temp
**/tmp/
**/temp/
**/tmp\*
**/temp\*
**/bower_components
**/testem
**/tests
**/tests/
**/tests\*
**/tests\*
**/testem\*
**/testem\*
**/coverage
**/coverage/
**/coverage\*
**/coverage\*
**/reports
**/reports/
**/reports\*
**/reports\*
**/doc
**/doc/

#frontend
frontend/bundleinspector.html
**/dist

#server
server/swagger/openapi.json

#embed
**/static/**
embed/src/utils/chat/hljs.js
